DATABASE_URL=YOUr_DATABASE_URL
BCRYPT_SALT_ROUNDS=YOUr_BCRYPT_SALT_ROUNDS

JWT_ACCESS_SECRET=your_super_secret_jwt_key_here
JWT_ACCESS_EXPIRES_IN=YOUR_JWT_ACCESS_EXPIRES_IN
JWT_REFRESH_SECRET=YOUr_JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=YOUR_JWT_REFRESH_EXPIRES_IN
COOKIE_ACCESS_TOKEN_MAX_AGE=YOUR_COOKIE_ACCESS_TOKEN_MAX_AGE
COOKIE_REFRESH_MAX_AGE=YOUR_COOKIE_REFRESH_MAX_AGE
